body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #333;
  margin: 0;
  padding: 0;
}

.imageFrame {
  text-align: center;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.logo img {
  height: 200px; /* adjust as needed */
}



#droneImage {
  margin-top: 40px;
  width: 400px;
  height: 400px;
  object-fit: contain;
  border: 2px solid #71208c;
  border-radius: 10px;

}

#controller-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  padding: 30px;
  background: radial-gradient(circle, #e8e8e8 70%, #838282);
  border: 2px solid #000000;
  border-radius: 40px;
  max-width: 900px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  position: relative;
}

#joysticks {
  display: flex;
  
  align-items: center;
  width: 100%;

  margin-top: 10px;
  flex-wrap: wrap;
}

.joystick-container {
  position: relative;
  width: 200px;
  height: 200px;
  background: #e0e0e0;
  border-radius: 50%;
  border: 2px solid #434243;
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.3), 0 6px 16px rgba(0, 0, 0, 0.2);
}

.stick {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #4a235a;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#telemetry {

  font-size: 18px;
  background-color: #efefef;
  padding: 20px;
  border-radius: 20px;
  border: 3px;
  border-color: #020202;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

#telemetry span {
  font-weight: bold;
  color: #000000;
  margin: 0 10px;
}

#startStopBtn {
  margin-top: 5px;
  padding: 14px 36px;
  background-color: #71208c;
  color: #fff;
  border: none;
  border-radius: 14px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

#startStopBtn:hover {
  background-color: #5a186c;
  transform: scale(1.05);
}

p {
  font-size: 18px;
  margin: 15px 0;
}

span {
  font-weight: bold;
  color: #34495e;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #28a745;
}

input:checked + .slider::before {
  transform: translateX(26px);
}
